@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*configurações de cabecalio*/
header#cabecalho h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color:white;
    padding: 0px;
    margin-bottom: 0;
}
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 10pt;
    padding: 0px;
    margin-top: 0;
    margin-left: 250px;
}
div#subc {
    background-color: #1f4c83;
    margin-top: 0px;
    margin-bottom: 0;
}
/*configuracao dos botões*/
div#subc ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 1px;
    left: 900px;
}
div#subc li {
    display:inline-block;
    padding: 10px;
    margin: 3px;
    transition: background-color 1s;
}
div#subc a {
    text-decoration: none;
    color: white;
}
div#subc li:hover {
    background-color: rgba(0,0,0,.5);
}
/*configuracao do corpo*/
article{
    background-color: lightgray;
}
.centro{
    text-align: center;
    float:none;
}
.artigoTitulo{
    background-color: grey;
    font-size: 16pt;
    padding: 2px 2px 2px 2px;
}
.artigoTexto{
    background-color: grey;
    font-size: 14;
}
.artigoImagem{
    background-color: grey;
    float: right;
    padding: 3px 3px 3px 3px;
}
.artigoDiv {
    background-color: grey;
    height: 190px;
    padding: 3px 3px 3px 3px;
}
.artigoButao{
    float: right;
    color: black;
    font-size: 17pt;
    border: 2px 2px 2px 2px;
    border-color: black;
    text-decoration: none;
}
body {
    background-color: lightgray;
}
h1{
    font-size: 25px;
}
h2 {
    font-size: 14pt;
}
section#corpo {
    display: block;
    width: 900px;
    margin: auto auto 0px auto;
}
section#corpo p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 12;
    padding: 10px;
}
section#corpo h1 {
    font-family: Arial,sans-serif;
    text-align: center;
    
}
section#corpo h2 {
    font-family: Arial,sans-serif;
    font-size: 20pt;
}
div#conteudo {
    display: block;
    width: 1000px;
    background-color: white;
    margin: auto auto 0px auto;
}
div#conteudo footer{
    text-align: center;
    font-weight: bolder;
}
/*formatação de imagem*/

#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img,figcaption {
    float: inline-start;
    width: 20%;
}
@keyframes slider {
    0% {
        left: 0;
    }
    45% {
        left: 0;
    }
    50% {
        left: -100.5%;
    }
    95% {
        left: -100.5%;
    }
}
