@charset "UTF-8";
/*configurações de cabecalio*/
header#cabecalho h1 {
    font-size: 30px;
    color:rgb(231,213,13);
    padding: 0px;
    margin-bottom: 0;
}
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(231,213,13);
    font-size: 10pt;
    padding: 0px;
    margin-top: 0;
    margin-left: 100px;
}
div#subc {
    background-color: brown;
    margin-top: -20px;
}