@charset "UTF-8";
/*configurações de cabecalio*/
header#cabecalho h1 {
    font-size: 30px;
    color:rgb(231,213,13);
    padding: 0px;
    margin-bottom: 0;
}
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(231,213,13);
    font-size: 10pt;
    padding: 0px;
    margin-top: 0;
    margin-left: 100px;
}
div#subc {
    background-color: brown;
    margin-top: -20px;
}
/*configuracao dos botões*/
div#subc ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    left: 900px;
}
div#subc li {
    display:inline-block;
    padding: 10px;
    margin: 3px;
    transition: background-color 1s;
}
div#subc a {
    text-decoration: none;
    color: rgb(231,213,13);
}
div#subc li:hover {
    background-color: rgba(0,0,0,.5);
}
/*configuracao do corpo*/
body {
    background-color: black;
}